*,
*::before,
*::after { 
  box-sizing: border-box;
}

/* article */

.article .middle {
    margin: 0 2rem 0 2rem;
}

.article h1{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.2rem;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--tsheh-black);
}
.article .paragraphs{
    padding: 2rem 0 9rem 0;
    border-bottom: solid 1.5px var(--tsheh-light-light-gray);
}
.article p{
    font-size: 1.15rem;
    line-height: 1.8;
    letter-spacing: 0.08rem;
    text-align: justify;
    color: var(--tsheh-black);
    padding-bottom: 1.5rem;
}

/* article info */

.article .article-info {
    text-align: left;
    padding: 11rem 0 10rem 0;
}
.article .author-name {
    padding-bottom: 2rem;
}
.article .author-name-text {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    color: var(--tsheh-black);
    text-align: left;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}
.article .author-name-text:hover {
    color: var(--tsheh-gray);
}

.article .author-intro {
    font-size: 1.1rem;
    line-height: 1.7;
    letter-spacing:0.08rem;
    text-align: left;
    color: var(--tsheh-black);
    padding-right: 2rem;
}

/* article tag */

.article .article-tags {
    padding-left: 2rem;
    justify-content: center;
}
.article .article-tag::before {
    font-family: "Open Sans";
    position: relative;
    right: 0.15rem;
    top: 0.05rem;
    font-size: 1.15rem;
    content: "#";
}  
.article .article-tag {
    display: inline-flex;
    font-size: 1.05rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    color: var(--tsheh-black);
    cursor: pointer;
    padding: 0rem 0rem 0.2rem 0.6rem;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}
.article .article-tag:hover,
.article .article-tag:focus {
    background-color: white;
    color: var(--tsheh-gray);
}
.article .article-tag:active {
    background-color: var(--tsheh-light-light-gray);
    border: solid var(--tsheh-light-light-gray) 1px;
    color: var(--tsheh-black);
}