*,
*::before,
*::after { 
  box-sizing: border-box;
}

/* subscribe button */

#subscribe-button {
    display: inline-flex;
    cursor: pointer;
    padding-bottom: 2rem;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}

#subscribe-text {
    color: var(--tsheh-black);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.15rem;
    text-align: left;
    padding-right: 1rem;
}

#subscribe-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}
#subscribe-icon-vertical {
    position: absolute;
    width: 1rem;
    height: 0.15rem;
    background:var(--tsheh-black);
}
#subscribe-icon-horizontal {
    position: absolute;
    width: 1rem;
    height: 0.15rem;
    background:var(--tsheh-black);
    transform: rotate(90deg);
}

/* author info */

.home .author-intro {
    font-size: 1rem;
    line-height: 1.7;
    letter-spacing:0.06rem;
    text-align: left;
    color: var(--tsheh-black);
    padding: 0 1rem 2rem 0;
}

/* home tag */

.home .article-tags {
    padding: 0 1rem 2rem 0.2rem;
}
.home .article-tag::before {
    font-family: "Open Sans";
    position: relative;
    right: 0.15rem;
    bottom: 0.05rem;
    font-size: 1.15rem;
    content: "#";
}  
.home .article-tag {
    display: inline-flex;
    font-size: 1rem;
    font-weight: 425;
    letter-spacing: 0.06rem;
    color: var(--tsheh-gray);
    cursor: pointer;
    padding: 0.2rem 0.8rem 0.2rem 0rem;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}
.home .article-tag:hover,
.home .article-tag:focus {   
    color: var(--tsheh-black);
}
.home .article-tag:active {
    background-color: var(--tsheh-light-light-gray);
    border: solid var(--tsheh-light-light-gray) 1px;
    color: var(--tsheh-black);
}

/* home-navbar*/

.home h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.3rem;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--tsheh-black);
}

.home .middle {
    margin: 0 2rem 0 2rem;
}

.home .home-navbar {
    margin: 2rem 0 2rem 0;

}
.home .home-navbar-item {
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
    color: var(--tsheh-gray);
    justify-content: center;
    cursor: pointer;
    padding-bottom: 0.5rem;
    border: none;
    background-color: transparent;
    border-bottom: solid 0.2rem var(--tsheh-light-light-gray);
    margin: 0 2rem 0 2rem;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}
.home .home-navbar-item:hover {
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--tsheh-gray);
    justify-content: center;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.2rem var(--tsheh-gray);
}
.home .home-navbar-item:active {
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--tsheh-black);
    justify-content: center;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.2rem var(--tsheh-black);
}
.home .home-navbar-item:focus {
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--tsheh-black);
    justify-content: center;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.2rem var(--tsheh-black);
}

/* article abstract */

.home .article-abstracts{
    padding: 0 2rem 9rem 2rem;
    border-bottom: solid 0.1rem var(--tsheh-light-light-gray);
    margin-top: 6.5rem;
}
.home .article-abstract{
    padding-bottom: 2rem;
}
.home .article-name{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.12rem;
    text-align: center;
    padding-bottom: 1.5rem;
    color: var(--tsheh-black);
}
.home p{
    font-size: 1.1rem;
    line-height: 1.8;
    letter-spacing: 0.06rem;
    text-align: justify;
    color: var(--tsheh-black);
    padding-bottom: 2rem;
}

.home .recommand-slogan {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #b1b1b1;
}