*,
*::before,
*::after { 
  box-sizing: border-box;
}

:root {
    --tsheh-black: #404040;
    --tsheh-gray: #BEBEBE;
    --tsheh-light-gray: #F0F0F0;
    --tsheh-light-light-gray: #f4f4f4;
}

/* nav bar */

#navbar {
    transition: top 0.5s;
}
.home .navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    box-shadow: #00000010 0.2rem 0.4rem 0.8rem;
    padding: 0rem 3rem 0px 3rem;
}
.home .logo {
    font-weight: 900;
    font-size: 1.4rem;
    color: var(--tsheh-black);
    text-decoration: none;
}
.home .logo:hover {
    color: var(--tsheh-gray);
}
.home .navitems {
    margin-left: auto;
}
.home .navitem {
    display: inline-flex;
    position: relative;
    font-size: 1.05rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    color: var(--tsheh-black);
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}
.home .navitem:before {
    position: absolute;     
    top: 50%;
    left: 50%;
    content: "";
    aspect-ratio: 1;
    background: var(--tsheh-light-light-gray);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s;
    width: 0;
}
.home .navitem:hover:before {
    width: 100%;
}
.home .nav-text {
    z-index: 1;
}
.home .navitem:hover {
    color: #808080;
}
.home .navitem:active,
.home .navitem:focus {
    color: var(--tsheh-black);;
}
/* nav search box */

.home .nav-search-box {
    display: inline-flex;
    position: relative;
    font-size: 1.05rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    color: var(--tsheh-black);
    text-decoration: none;
    transition: width 0.5s;
}
.home .nav-search-box .search-box-text{
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.05rem;
    width: 3rem;
    height: 3rem;
}
.home .nav-search-box input{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 1.5rem;
    outline: none;
    border: none;
    font-size: 1em;
    border-radius: 10rem;
}
.home .nav-search-box:hover,
.home .nav-search-box:valid {
    width: 15rem;
    cursor: pointer;
}
.home  .nav-search-box:hover input,
.home .nav-search-box:valid input,
.home .nav-search-box:hover input:active,
.home .nav-search-box:hover input:focus {
    display: block;
    background: var(--tsheh-light-light-gray);
}
.home .nav-search-box:hover .nav-text,
.home .nav-search-box:hover .nav-text,
.home .nav-search-box:hover .nav-text {
    color: #808080;
}
.home .nav-search-box:valid .nav-text {
    color: var(--tsheh-black);
}

input[type="search" i]::-webkit-search-cancel-button {
    display: none;
}

/* author info */

.home .author-name {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.05rem;
    text-align: left;
    margin-top: 1.8rem;
    color: var(--tsheh-black);
}
.home .subscribe-button {
    display: inline-flex;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    /* color: #A9A9A9; */
    font-weight: 500;
    cursor: pointer;
    overflow: hidden; 
    margin: 1rem 0 1.2rem 0;
}
.home .subscribe-button:hover,
.home .subscribe-button:focus {
    background-color: var(--tsheh-black);
    color: white;
}
.home .subscribe-button:active {
    background-color: var(--tsheh-light-gray);
    border: solid var(--tsheh-light-gray) 1.5px;
    color: var(--tsheh-black);
}
.home .author-intro {
    font-size: 1rem;
    line-height: 1.7;
    letter-spacing:0.04rem;
    text-align: left;
    color: var(--tsheh-black);
    padding: 0 1rem 2rem 0;
}

/* home tag */

.home .home-tags {
    padding: 0 1rem 2rem 0;
}
.home .home-tag {
    display: inline-flex;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 10rem;
    border: solid #A9A9A9 1.5px;
    /* background-color: var(--tsheh-light-light-gray); */
    color: #A9A9A9;
    cursor: pointer;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}
.home .home-tag:hover,
.home .home-tag:focus {
    border: solid var(--tsheh-gray) 1px;
    background-color: white;
    color: var(--tsheh-gray);
}
.home .home-tag:active {
    background-color: var(--tsheh-light-gray);
    border: solid var(--tsheh-light-gray) 1px;
    color: var(--tsheh-black);
}

/* home-navbar*/

.home h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.3rem;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--tsheh-black);
}

.home .middle {
    margin: 0 2rem 0 2rem;
}

.home .home-navbar {
    margin: 2rem 0 2rem 0;

}
.home .home-navbar-item {
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--tsheh-gray);
    justify-content: center;
    cursor: pointer;
    padding-bottom: 0.5rem;
    border: none;
    background-color: transparent;
    border-bottom: solid 3px var(--tsheh-light-gray);
    margin: 0 2rem 0 2rem;
}
.home .home-navbar-item:hover {
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--tsheh-gray);
    justify-content: center;
    padding-bottom: 0.5rem;
    border-bottom: solid 3px var(--tsheh-gray);
}
.home .home-navbar-item:active {
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--tsheh-black);
    justify-content: center;
    padding-bottom: 0.5rem;
    border-bottom: solid 3px var(--tsheh-black);
}
.home .home-navbar-item:focus {
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--tsheh-black);
    justify-content: center;
    padding-bottom: 0.5rem;
    border-bottom: solid 3px var(--tsheh-black);
}

/* article abstract */

.home .article-abstracts{
    padding: 0 2rem 9rem 2rem;
    border-bottom: solid 1.5px var(--tsheh-light-gray);
    margin-top: 6.5rem;
}
.home .article-abstract{
    padding-bottom: 2rem;
}
.home .article-name{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.05rem;
    text-align: center;
    padding-bottom: 1.5rem;
    color: var(--tsheh-black);
}
.home p{
    font-size: 1.1rem;
    line-height: 1.7;
    letter-spacing: 0.05rem;
    text-align: justify;
    color: var(--tsheh-black);
    padding-bottom: 2rem;
}

.home .divider {
    display: flex;
    width: 80%;
    margin: 4rem auto 4rem auto;
    border-bottom: solid 1px #E8E8E8;
}

/* subscribe button */

#subscribe-button {
    display: flex;
    cursor: pointer;
    padding: 1.5rem 0 1.5rem 0;
}
  
#subscribe-text {
    font-size: 1.05rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding-right: 1rem;
}

#subscribe-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    &:before {
        position: absolute;
        content: '';
        width: 0.9rem;
        height: 0.15rem;
        background: var(--tsheh-black);
    }
    &:after {
        position: absolute;
        content: '';
        width: 0.9rem;
        height: 0.15rem;
        background: var(--tsheh-black);
        transform: rotate(90deg);
    }
}