:root {
    --tsheh-dark-black: #2a2a2a;
    --tsheh-black: #3c3c3c;
    --tsheh-dark-gray: #a5a5a5;
    --tsheh-gray: #b1b1b1;
    --tsheh-light-gray: #c0c0c0;
    --tsheh-light-light-gray: #F0F0F0;
}

::-moz-selection {
    background-color: transparent;
    color: #000;
}
::selection {
    background-color: transparent;
    color: #000;
}

html {
    font-size: 15px;
}
body {
    margin: 0;
    font-family: "Noto Sans TC";
    color: var(--tsheh-black);
}
.vh {
    height: 100vh;
}
.center-alignment {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-alignment-horizontal {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-alignment-vertical {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* content */

.tsheh .content {
    padding-top: 10rem;
    max-width: inherit;
    width: 100%;
}

/* middle */

.tsheh .middle {
    margin: 0 2rem 0 2rem;
}

/* nav bar */

#navbar {
    transition: all 0.5s;
}
.tsheh .navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    padding: 0rem 3rem 0px 3rem;
    box-shadow: #00000010 0.2rem 0.4rem 0.8rem;
    z-index: 100;
}
.tsheh .logo {
    font-weight: 900;
    font-size: 1.4rem;
    color: var(--tsheh-black);
    text-decoration: none;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}
.tsheh .logo:hover {
    color: var(--tsheh-dark-gray);
}
.tsheh .navitems {
    margin-left: auto;
}
.tsheh .navitem {
    display: inline-flex;
    position: relative;
    font-size: 1.05rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    color: var(--tsheh-black);
    text-decoration: none;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}
.tsheh .nav-text {
    z-index: 1;
}
.tsheh .navitem:hover {
    color: var(--tsheh-dark-gray);
}
.tsheh .navitem:active,
.tsheh .navitem:focus {
    color: var(--tsheh-black);;
}

/* nav search box */

.tsheh .nav-search-box {
    display: inline-flex;
    position: relative;
    font-size: 1.05rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    color: var(--tsheh-black);
    text-decoration: none;
    transition: all 1s;
}
.tsheh .nav-search-box .search-box-text{
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.05rem;
    width: 3rem;
    height: 3rem;
    transition: all 1s;
}
.tsheh .nav-search-box input{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 3rem;
    outline: none;
    border: none;
    font-size: 1.05rem;
}
.tsheh .nav-search-box:hover,
.tsheh .nav-search-box:valid {
    width: 15rem;
    cursor: pointer;
}
.tsheh .nav-search-box:hover input,
.tsheh .nav-search-box:valid input,
.tsheh .nav-search-box:hover input:active,
.tsheh .nav-search-box:hover input:focus {
    display: block;
    color: var(--tsheh-dark-gray);
    font-weight: 500;
}

.tsheh .nav-search-box:hover .search-box-text,
.tsheh .nav-search-box:active .search-box-text,
.tsheh .nav-search-box:focus .search-box-text,
.tsheh .nav-search-box:valid .search-box-text {
    right: 12rem;
    color: var(--tsheh-black);
}

input[type="search" i]::-webkit-search-cancel-button {
    display: none;
}

.tsheh .divider {
    display: flex;
    width: 80%;
    margin: 4rem auto 4rem auto;
    border-bottom: solid 1px #E8E8E8;
}