/* nav bar */

#navbar {
    transition: top 0.5s;
}
.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    box-shadow: #00000010 0.2rem 0.4rem 0.8rem;
    padding: 0rem 3rem 0px 3rem;
}
.logo {
    font-weight: 900;
    font-size: 1.4rem;
    color: var(--tsheh-black);
    text-decoration: none;
}
.logo:hover {
    color: var(--tsheh-gray);
}
.navitems {
    margin-left: auto;
}
.navitem {
    display: inline-flex;
    position: relative;
    font-size: 1.05rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    color: var(--tsheh-black);
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}
.navitem:before {
    position: absolute;     
    top: 50%;
    left: 50%;
    content: "";
    aspect-ratio: 1;
    background: var(--tsheh-light-light-gray);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s;
    width: 0;
}
.navitem:hover:before {
    width: 100%;
}
.nav-text {
    z-index: 1;
}
.navitem:hover {
    color: #808080;
}
.navitem:active,
.navitem:focus {
    color: var(--tsheh-black);;
}
/* nav search box */

.nav-search-box {
    display: inline-flex;
    position: relative;
    font-size: 1.05rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    color: var(--tsheh-black);
    text-decoration: none;
    transition: width 0.5s;
}
.nav-search-box .search-box-text{
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.05rem;
    width: 3rem;
    height: 3rem;
}
.nav-search-box input{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 1.5rem;
    outline: none;
    border: none;
    font-size: 1em;
    border-radius: 10rem;
}
.nav-search-box:hover,
.nav-search-box:valid {
    width: 15rem;
    cursor: pointer;
}
 .nav-search-box:hover input,
.nav-search-box:valid input,
.nav-search-box:hover input:active,
.nav-search-box:hover input:focus {
    display: block;
    background: var(--tsheh-light-light-gray);
}
 .nav-search-box:hover .nav-text,
.nav-search-box:hover .nav-text,
.nav-search-box:hover .nav-text {
    color: #808080;
}
.nav-search-box:valid .nav-text {
    color: var(--tsheh-black);
}

input[type="search" i]::-webkit-search-cancel-button {
    display: none;
}